body {
  background-color: transparent; }

p {
  color: white;
  font-size: large;
  text-shadow: 1px 1px 2px #0f0f96, 0 0 1em #0f0f96, 0 0 0.2em #0f0f96;
  -moz-text-shadow: 1px 1px 2px #0f0f96, 0 0 1em #0f0f96, 0 0 0.2em #0f0f96;
  -webkit-text-shadow: 1px 1px 2px #0f0f96, 0 0 1em #0f0f96, 0 0 0.2em #0f0f96; }

.movieList {
  text-shadow: 1px 1px 2px #0f0f96, 0 0 1em #0f0f96, 0 0 0.2em #0f0f96;
  -moz-text-shadow: 1px 1px 2px #0f0f96, 0 0 1em #0f0f96, 0 0 0.2em #0f0f96;
  -webkit-text-shadow: 1px 1px 2px #0f0f96, 0 0 1em #0f0f96, 0 0 0.2em #0f0f96; }
  .movieList img {
    width: 123px; }

.myMovieList {
  text-shadow: 1px 1px 2px #0f0f96, 0 0 1em #0f0f96, 0 0 0.2em #0f0f96;
  -moz-text-shadow: 1px 1px 2px #0f0f96, 0 0 1em #0f0f96, 0 0 0.2em #0f0f96;
  -webkit-text-shadow: 1px 1px 2px #0f0f96, 0 0 1em #0f0f96, 0 0 0.2em #0f0f96; }
  .myMovieList img {
    width: 123px; }

.vote button {
  margin-left: -12px;
  margin-top: 9px;
  cursor: pointer;
  width: 150px;
  height: 50px;
  border-radius: 4px;
  border: 2px solid white; }

.btn-info {
  color: #fff;
  background-color: #007bb6;
  border-color: #007bb6; }

.movieSearch img {
  width: 123px; }

.title {
  position: absolute;
  top: 50%;
  left: 128px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 40px;
  line-height: normal;
  color: #ffffff;
  font-family: -webkit-pictograph; }

header {
  position: fixed;
  display: block;
  width: 100%;
  background: #010000;
  color: #ffffff;
  height: 110px;
  z-index: 100000; }
  header img.logo {
    position: absolute;
    top: 50%;
    left: 10px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
    background: #ddd url("../img/logo1.png") center top no-repeat;
    background-size: 103px;
    height: 103px;
    width: 103px;
    border-radius: 66%; }
  header nav,
  header nav ul,
  header nav ul li {
    margin: 10px;
    padding: 0; }
  header nav {
    position: absolute;
    top: 50%;
    right: 15px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%); }
  header ul li {
    list-style-type: none;
    display: inline-block;
    margin-right: 10px; }
    header ul li.last {
      margin: 0; }
    header ul li a {
      font-size: 19px;
      line-height: normal;
      color: #ffffff; }

@media only screen and (max-width: 890px) {
  header nav ul {
    margin-top: 65px; } }
footer {
  bottom: 0;
  width: 100%;
  height: 20px;
  /* Height of the footer */
  background: #010000;
  color: #ffffff;
  position: fixed; }

#root {
  background: #ddd url("../img/The_Colosseum_in_Rome_640.175259af.jpg") center top no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  min-height: 44rem; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #ffffff;
  font-weight: 500;
  font-style: normal;
  text-shadow: 1px 1px 2px #0f0f96, 0 0 1em #0f0f96, 0 0 0.2em #0f0f96;
  -moz-text-shadow: 1px 1px 2px #0f0f96, 0 0 1em #0f0f96, 0 0 0.2em #0f0f96;
  -webkit-text-shadow: 1px 1px 2px #0f0f96, 0 0 1em #0f0f96, 0 0 0.2em #0f0f96;
  margin: 0; }

a {
  text-decoration: none;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  cursor: pointer; }
  a:hover {
    color: #ff1755;
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out; }

.container-fluid {
  line-height: 24px;
  margin-left: 73px;
  margin-right: 40px;
  padding-top: 100px; }

summary {
  font-size: large; }

iframe {
  width: 120px;
  height: 240px;
  marginWidth: 0;
  marginHeight: 0;
  scrolling: 'no';
  frameBorder: 0;
  background-image: url("http:////ws-eu.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=GB&source=ac&ref=tf_til&ad_type=product_link&tracking_id=ndickens-21&marketplace=amazon&region=GB&placement=B0791W7G51&asins=B0791W7G51&linkId=28675d6e41728a5efb6ffa44bdae01bf&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff"); }

.video-detail {
  display: inline-flex;
  margin-left: 10%;
  position: absolute; }
  .video-detail iframe {
    width: 430px; }
  .video-detail .details {
    padding-left: 30px;
    max-width: 24rem; }

.review {
  right: 20%;
  position: absolute;
  font-size: 22px; }
  .review .score {
    font-size: 48px; }

.bookResult a {
  display: block; }

#slidecontainer {
  background-color: #003e99;
  padding-top: 19px; }

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background: #d14c14;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s; }

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #d14c14;
  cursor: pointer; }

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #d14c14;
  cursor: pointer; }

#event-map {
  display: flex; }

#event-key {
  width: 20px;
  height: 20px;
  background-color: #FF5722;
  display: block; }

#event-text {
  max-width: 250px; }
  #event-text p {
    font-size: 15px;
    line-height: 19px; }

#event-text-key {
  display: flex; }
  #event-text-key h2 {
    padding-left: 10px;
    margin: 0; }

/*# sourceMappingURL=default.css.map */
