@import "config";

@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(-2%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes shrink {
  0% {
    width: 95%;
  }
  100% {
    width: 90%;
  }
}

.header{
  text-shadow: none;
  .menuList {
    padding-top: 3em;
  }
  .headerContainer{
    position: fixed;
    top: 0;
    left: 0;
    height: 66px;
    z-index: 99;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    background: black;
    width: 100%;
    color: white;
    font-family: Lobster;
    .hamburgerIcon {
      height: 32px;
      width: 32px;
      padding: 4px;
      .hamburgerIconLine, .hamburgerIconLineOpen {
        height: 2px;
        width: 20px;
      }
    }
  }
  .titleLogo {
    margin: 0 auto;
    font-size: 32px;
  }
  .logo img {
    padding: 12px;
    height: 42px;
    width: 42px;
  }

  a {
    color: white;
  }
}

html{
  height: 100%;
  margin: auto;
  overflow: scroll;
}

body{
  background-color: transparent;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: $white;
  font-weight: 500;
  font-style: normal;
  text-shadow: 1px 1px 2px #0f0f96, 0 0 1em #0f0f96, 0 0 0.2em #0f0f96;
  -moz-text-shadow: 1px 1px 2px #0f0f96, 0 0 1em #0f0f96, 0 0 0.2em #0f0f96;
  -webkit-text-shadow: 1px 1px 2px #0f0f96, 0 0 1em #0f0f96, 0 0 0.2em #0f0f96;
  margin: 0;
}

li {
  list-style: none;
}

.content {
  padding: 0;
  padding-bottom: 40px;
  .itemContainer {
    padding: 20px;
    background-color: #007bb6;
    border-radius: 20px;
  }
}

*:focus {
  outline: none;
}

.container {
  margin: 52px 14px 0 14px;
  padding: 8px;
  background-color: rgba(0, 127, 200, 0.5);
}

.displayFlex {
  display: flex;
}

.displayFlexSpaceBetween {
  display: flex;
  justify-content: space-between;
}

p{
  color: white;
  font-size: large;
}

.itemContainer{
  img{
    width: 123px;
  }
}

.myMovieList{
  img{
    width: 123px;
  }
}

#myBtn {
  position: fixed;
  height: 30px;
  font-size: 22px;
  right: 0;
  bottom: 7%;
  background-color: darkkhaki;
}

.box{
  width: 280px;
  height: 50px;
}

.container-1{
  width: 280px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.container-1 input#search{
  width: 280px;
  height: 50px;
  background: lightgrey;;
  border: none;
  font-size: 20px;
  float: left;
  color: #262626;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: background .55s ease;
  -moz-transition: background .55s ease;
  -ms-transition: background .55s ease;
  -o-transition: background .55s ease;
  transition: background .55s ease;
}

.container-1 input#search::-webkit-input-placeholder {
  color: #65737e;
}

.container-1 .icon{
  position: absolute;
  font-size: 28px;
  top: 50%;
  margin-left: 13px;
  margin-top: 11px;
  z-index: 1;
  color: #4f5b66;
  text-shadow: none;
}

.container-1 input#search:hover, .container-1 input#search:focus, .container-1 input#search:active{
  outline:none;
  background: #ffffff;
}

.btn-info {
  color: #fff;
  background-color: #007bb6;
  border-color: #007bb6;
}

.movieSearch{
  img{
    width: 123px;
  }

}

footer {
  bottom:0;
  width:100%;
  height:6%;   /* Height of the footer */
  background: $black;
  color: $white;
  position: fixed;
  div {
    display: flex;
    justify-content: center;
    a {
      padding-left: 5px;
      color: aquamarine;
    }
  }
}

#root {
  background: #ddd url('../img/The_Colosseum_in_Rome_640.175259af.jpg') center top no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-blend-mode: color-burn;
  min-height: 100%;
}

a{
  text-decoration: none;
  @include transition(.4s ease-in-out);
  cursor: pointer;

  &:hover {
    color: $red;
    @include transition(.4s ease-in-out);
  }
}

summary {
  font-size: large;
  list-style-image: none;
  position: relative;
}

summary::-webkit-details-marker {
  background: none;
  color: transparent;
}

summary::before {
  //content: ">";
  font-size: x-large;
  left: -8px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.5s ease-in-out;
}

[open] > summary::before {
  transform: translateY(-50%) rotate(90deg);
}

details[open] summary ~ * {
  animation: sweep .5s ease-in-out;
}

@keyframes sweep {
  0%    {opacity: 0}
  100%  {opacity: 1}
}

iframe {
  width: 120px;
  height: 240px;
  marginWidth: 0;
  marginHeight: 0;
  scrolling: 'no';
  frameBorder: 0;
  background-image: url("http:////ws-eu.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=GB&source=ac&ref=tf_til&ad_type=product_link&tracking_id=ndickens-21&marketplace=amazon&region=GB&placement=B0791W7G51&asins=B0791W7G51&linkId=28675d6e41728a5efb6ffa44bdae01bf&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff");
}

.video-detail {
  padding: 10px;
  iframe {
    width: 100%;
  }
  .details {
    padding-left: 30px;
    max-width: 24rem;
  }
}

.review {
  font-size: 22px;
  align-self: center;
  border: 2px white solid;
  border-radius: 14px;
  padding: 9px;
  width: min-content;
  background-color: black;
  .score {
    font-size: 48px;
    .scoreMax {
      font-size: 14px;
    }
  }
}
.bookResult a {
  display: block;
}

#slidecontainer {
  background-color: #003e99;
  padding-top: 19px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background: #d14c14;;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #d14c14;;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #d14c14;;
  cursor: pointer;
}

#event-map {
 // display: flex;
}

#event-key {
  width: 20px;
  height: 20px;
  display: block;
}

#event-text {
  max-width: 250px;
  p {
    font-size: 15px;
    line-height: 19px;
  }
}

#event-text-key {
  display: flex;
  h2 {
    padding-left: 10px;
    margin: 0;
  }
}

.itemContainer {
  border: 1px solid azure;
  padding: 8px;
  border-radius: 20px;
  margin: 14px 0;
}

button.starIcon {
  cursor: pointer;
  border-radius: 4px;
  border: 2px solid white;
  height: fit-content;
  width: 29%;
  padding: 8px;
  i {
    font-size: 40px;
  }
}

.articleContent {
  overflow: hidden;
  line-height: 1.2em;
  height: 3.6em;
}
.articleContent.collapsed{
  overflow: hidden;
}
.articleContent.expanded{
  overflow: visible;
  height: auto;
}

.pagination-container {
  width: 285px;
}

nav {
  display: flex;
  overflow: auto;
}

.pagination {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.pagination li {
  margin: 0 1px;
  background: aliceblue;
}



@media screen and (min-width: 600px) {
  .container {
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 5%;
    h1 {
      padding-top: 40px;
      font-size: 45px;
    }
    p, summary, h2, span, div {
      font-size: 26px;
      line-height: 45px;
    }
  }
  .header {
    .menuList {
      padding-top: 7em;
    }
    .headerContainer {
      position: fixed;
      top: 0;
      left: 0;
      height: fit-content;
      z-index: 99;
      display: flex;
      align-items: center;
      background: black;
      width: 100%;
      color: white;
      font-family: Lobster;
      .hamburgerIcon {
        @media screen and (min-width: 599px) {
          display: none !important;
        }
        height: 64px;
        width: 64px;
        padding: 8px;
        padding-left: 26px;
        .hamburgerIconLine {
          height: 6px;
          width: 60px;
        }
        .hamburgerIconLineOpen {
          height: 3px;
          width: 24px;
        }
      }
    }
    .titleLogo {
      margin: 0 auto;
      font-size: 64px;
    }
    .logo img {
      padding: 24px;
      height: 84px;
      width: 84px;
    }
  }
  .pagination-container {
    width: fit-content;
    margin-left: 24%;
    button {
      width: 60px;
      height: 60px;
    }
  }
  .itemContainer {
    .btn-info {
      height: initial;
      width: initial;
      margin: 16px;
      border-radius: 10px;
    }
    .fa-star-o {
      display: block;
    }
    img {
      width: 40%;
      max-height: 500px;
      border-radius: 20px;
      margin-left: 18%;
    }
    .review {
      margin-right: 22%;
      margin-bottom: 33%;
    }
    .vote-and-amazon-container {
      margin: 5px 21%;
    }
    .vote button {
      height: 121%;
      margin-left: -20%;
    }
    .video-detail iframe {
      height: 160%;
    }
  }

  footer {
    font-size: 20px;
  }
}

img.newsImage {
  margin-left: 0;
  max-height: 100%;
}

.itemContainer {
  a {
    color: floralwhite;
  }
}

img.movieTvImage {
  //width: 100%;
  max-height: 100%;
}

.itemContainer.podcasts {
  display: inline-block;
  h2 {
    margin-top: 0;
    padding: 0 15px;
  }
  button {
    margin: 16px -5px;
  }
  img.headImage {
    width: 100%;
  }
  img.twitterLogo {
    width: 16%;
    float:right;
  }
}

@media screen and (min-width: 600px) {
  .content {
    .itemContainer {
      width: 60%;
      padding: 5%;
      img.movieTvImage {
        margin-left: 0;
        width: 47%;
      }
      .review {
        margin-right: 10%;
        span {
          font-size: 97px;
          line-height: 145px;
          padding: 15px;
          .scoreMax {
            font-size: 34px;
          }
        }
      }
      .vote-and-amazon-container {
        margin: 28px 14%;
        .voteButton {
          font-size: 40px;
          margin-left: -50px;
        }
        .amazon-link {
          padding-top: 10px;
          a {
            margin: 30px 20px 20px 30px;
            img {
              width: 100%;
            }
          }
        }
      }
    }
    .itemContainer.podcasts {
      display: inline-block;
      padding: 1% 5%;
      h2 {
        font-size: 53px;
        margin-top: 0;
        padding: 1% 10%;
      }
      button {
        margin: 29px 6px;
        font-size: 63px;
        width: fit-content;
      }
      img.headImage {
        width: 100%;
        margin-left: 0;
        max-height: none;
      }
      img.twitterLogo {
        width: 14%;
        padding: 16px;
        float: right;
      }
    }
    .itemContainer img.searchBookImg {
      width: 519px;
      padding: 14px;
      margin-left: 0;
    }
  }
  .itemContainer.news {
    h2 {
      font-size: 28px;
    }
  }
}

.amazon-link {
  padding-top: 20px;
  a {
    margin: 30px 20px 20px 30px;
  }
}

.bookSearch {
  padding-bottom: 60px;
}

.itemContainer img.searchBookImg {
  width: 188px;
  padding: 14px;
}

.desktopMenu {
  @media screen and (max-width: 600px) {
    display: none;
  }
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  ul li {
    list-style-type: none;
    box-shadow: -1px 0 0 red;
    padding: 0 4%;
    &.last {
      margin: 0;
    }

    a {
      font-size: 30px;
      line-height: normal;
      color: $white;
      text-decoration: none;

      @include transition(.4s ease-in-out);
      cursor: pointer;

      &:hover {
        color: $red;
        @include transition(.4s ease-in-out);
      }
    }

  }
}

.headerContainer hr {
  width: 100%;
  flex-basis: 100%;
  height: 0;
  margin: 0;
  border: 0;
}

.itemContainer.news {
  padding: 10px 30px;
   h2 {
     font-size: 34px;
   }
  .date {
    padding-bottom: 25px;
    font-size: 20px;
  }
  .articleText {
    font-size: 20px;
  }
}
