@import "config";

body{
  background-color: transparent;
}

p{
  color: white;
  font-size: large;
  text-shadow: 1px 1px 2px #0f0f96, 0 0 1em #0f0f96, 0 0 0.2em #0f0f96;
  -moz-text-shadow: 1px 1px 2px #0f0f96, 0 0 1em #0f0f96, 0 0 0.2em #0f0f96;
  -webkit-text-shadow: 1px 1px 2px #0f0f96, 0 0 1em #0f0f96, 0 0 0.2em #0f0f96;
}

.movieList{
  text-shadow: 1px 1px 2px #0f0f96, 0 0 1em #0f0f96, 0 0 0.2em #0f0f96;
  -moz-text-shadow: 1px 1px 2px #0f0f96, 0 0 1em #0f0f96, 0 0 0.2em #0f0f96;
  -webkit-text-shadow: 1px 1px 2px #0f0f96, 0 0 1em #0f0f96, 0 0 0.2em #0f0f96;
  img{
    width: 123px;
  }
}

.myMovieList{
  text-shadow: 1px 1px 2px #0f0f96, 0 0 1em #0f0f96, 0 0 0.2em #0f0f96;
  -moz-text-shadow: 1px 1px 2px #0f0f96, 0 0 1em #0f0f96, 0 0 0.2em #0f0f96;
  -webkit-text-shadow: 1px 1px 2px #0f0f96, 0 0 1em #0f0f96, 0 0 0.2em #0f0f96;
  img{
    width: 123px;
  }
}

.vote button{
  margin-left: -12px;
  margin-top: 9px;
  cursor: pointer;
  width: 150px;
  height: 50px;
  border-radius: 4px;
  border: 2px solid white;

}
.btn-info {
  color: #fff;
  background-color: #007bb6;
  border-color: #007bb6;
}

.movieSearch{
  img{
    width: 123px;
  }

}


.title{
  position: absolute;
  top: 50%; left:128px;
  @include translateY(-50%);
  font-size: 40px;
  line-height: normal;
  color: $white;
  font-family: -webkit-pictograph;
}

header {
  position: fixed;
  display: block;
  width: 100%;
  background: $black;
  color: $white;
  height: 110px;
  z-index: 100000;

  img.logo {
    position: absolute;
    top: 50%;
    left: 10px;
    @include translateY(-50%);
    background: #ddd url('../img/logo1.png') center top no-repeat;
    background-size: 103px;
    height: 103px;
    width: 103px;
    border-radius: 66%;

  }

  nav,
  nav ul,
  nav ul li {
    margin: 10px;
    padding: 0;
  }

  nav {
    position: absolute;
    top: 50%;
    right: 15px;
    @include translateY(-50%);
  }

  ul li {
    list-style-type: none;
    display: inline-block;
    margin-right: 10px;

    &.last {
      margin: 0;
    }

    a {
      font-size: 19px;
      line-height: normal;
      color: $white;
    }

  }

}

@media only screen and (max-width: 890px) {
  header nav ul {
    margin-top: 65px;
  }

}


footer {
  bottom:0;
  width:100%;
  height:20px;   /* Height of the footer */
  background: $black;
  color: $white;
  position: fixed;
}

#root {
  background: #ddd url('../img/The_Colosseum_in_Rome_640.175259af.jpg') center top no-repeat;
 // background-position-y: 110px;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  min-height: 44rem;
}

body{
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: $white;
  font-weight: 500;
  font-style: normal;
  text-shadow: 1px 1px 2px #0f0f96, 0 0 1em #0f0f96, 0 0 0.2em #0f0f96;
  -moz-text-shadow: 1px 1px 2px #0f0f96, 0 0 1em #0f0f96, 0 0 0.2em #0f0f96;
  -webkit-text-shadow: 1px 1px 2px #0f0f96, 0 0 1em #0f0f96, 0 0 0.2em #0f0f96;
  margin: 0;

}

a{
  text-decoration: none;
  @include transition(.4s ease-in-out);
  cursor: pointer;

  &:hover {
    color: $red;
    @include transition(.4s ease-in-out);
  }

}

.container-fluid{
  line-height: 24px;
  margin-left: 73px;
  margin-right: 40px;
  padding-top: 100px;
  }

summary{
  font-size: large;
}

iframe {
  width: 120px;
  height: 240px;
  marginWidth: 0;
  marginHeight: 0;
  scrolling: 'no';
  frameBorder: 0;
  background-image: url("http:////ws-eu.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=GB&source=ac&ref=tf_til&ad_type=product_link&tracking_id=ndickens-21&marketplace=amazon&region=GB&placement=B0791W7G51&asins=B0791W7G51&linkId=28675d6e41728a5efb6ffa44bdae01bf&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff");
}

.video-detail {
  display: inline-flex;
  margin-left: 10%;
  position: absolute;
  iframe {
    width: 430px;
  }
  .details {
    padding-left: 30px;
    max-width: 24rem;
  }
}

.review {
  right: 20%;
  position: absolute;
  font-size: 22px;
  .score {
    font-size: 48px;
  }
}
